.capabilities-hero {
  height: 75vh;
  min-height: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;

  &-title {
      position: absolute;
      bottom: 40px;
      left: 50px;
      word-wrap: break-word;
      color: white;
      letter-spacing: 3px;
      font-weight: bold;
      z-index: 10;
      
      @media (max-width: 768px) {
          bottom: 20px;
          left: 20px;
          font-size: 1.5rem !important;
      }

      .title {
          opacity: 0;
          transition: transform 1s;
          transform: translate(0, 100vh);
      }

      .visible-title1 {
          opacity: 1;
          transition: transform 1s;
          transform: translate(0, 0);
      }
  }
}

.capabilities-list {
    & .menu {
        position: relative;
        z-index: 20;

        &:hover {
            color: $warning-color;
        }
    }

    & .directory {
        background-color: white;
        border-left: 3px solid $danger-color;
    }

    & .layout-image {
        width: 90%;
        transform: translateY(-30%);
    }
}

.capabilities-service {
    background-color: black;

    & .title {
        color: $warning-color;
    }

    & .description {
        opacity: 0;
        transition: transform 2s;
        transform: translate(-50%, 0);
    }

    & .service-text-animation {
        opacity: 1;
        transform: translate(0, 0);
    }    
}

.capabilities-explore {
    background-color: $warning-color;
}

.capabilities-feature {
    background-color: black;

    &-bar {
        z-index: 20;
        width: 3px;
        height: 50px;
        background-color: $warning-color;
    }

    &-bargroup {
        &-first {
            position: relative;
            width: 3px;
            height: 220px;
            background-color: $warning-color;
        }

        &-second {
            position: relative;
            top: 211px;
            left: -5px;
            width: 25px;
            height: 3px;
            background-color: $warning-color;
            transform: rotate(-45deg);
        }

        &-third {
            position: relative;
            top: 203px;
            left: -10px;
            width: 3px;
            height: 40px;
            background-color: $warning-color;
        }
    }

    & .txt-warning {
        color: $warning-color;
    }
}

.capabilities-item-hero {
    height: 75vh;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    position: relative;

    & .tag {
        position: absolute;
        bottom: 120px;
        left: 40px;
        z-index: 10;
        
        @media (max-width: 768px) {
            bottom: 100px;
            left: 20px;
        }
    }
  
    &-title {
        position: absolute;
        bottom: 40px;
        left: 40px;
        word-wrap: break-word;
        color: white;
        letter-spacing: 3px;
        font-weight: bold;
        z-index: 10;
        
        @media (max-width: 768px) {
            bottom: 20px;
            left: 20px;
            font-size: 1.5rem !important;
        }
  
        .title {
            opacity: 0;
            transition: transform 1s;
            transform: translate(0, 100vh);
        }
  
        .visible-title1 {
            opacity: 1;
            transition: transform 1s;
            transform: translate(0, 0);
        }
    }
  }

  .capabilities-item-introduction {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    z-index: 1;
    
    & .custom-tab-container {
        display: flex;
        min-height: 500px;
    }
    
    & .custom-tab-nav {
        background-color: $danger-color;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
    
    & .custom-tab-button {
        padding: 40px 60px;
        color: white;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid transparent;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
        white-space: nowrap;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            border-bottom: 3px solid white;
        }
        
        &.active {
            background-color: rgba(255, 255, 255, 0.2);
            border-bottom: 3px solid white;
            position: relative;
            font-weight: 600;
            
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 4px;
                background-color: white;
            }
        }
        
        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    
    & .custom-tab-content {
        flex: 1;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
    
    & .layout-image {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin-top: 20px;
    }
    
    /* Responsive design */
    @media (max-width: 768px) {
        & .custom-tab-container {
            flex-direction: column;
        }
        
        & .custom-tab-nav {
            min-width: auto;
            flex-direction: row;
            overflow-x: auto;
            white-space: nowrap;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            
            &::-webkit-scrollbar {
                display: none; /* WebKit */
            }
        }
        
        & .custom-tab-button {
            padding: 20px 30px;
            min-width: 200px;
            flex-shrink: 0;
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                border-bottom: 3px solid white;
            }
            
            &.active {
                background-color: rgba(255, 255, 255, 0.15);
                border-bottom: 3px solid white;
                position: relative;
                
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    right: 0;
                    height: 3px;
                    background-color: white;
                    z-index: 10;
                }
            }
        }
    }
  }

.capabilities-item-project {
    background-color: white;
      
    &-title {
        color: $danger-color;
    }

    &-bargroup {
        &-first {
            position: relative;
            z-index: 20;
            width: 3px;
            height: 200px;
            background-color: $danger-color;
        }
    
        &-second {
            position: relative;
            z-index: 20;
            top: 191px;
            left: -5px;
            width: 25px;
            height: 3px;
            background-color: $danger-color;
            transform: rotate(-45deg);
        }
    
        &-third {
            position: relative;
            z-index: 20;
            top: 183px;
            left: -10px;
            width: 3px;
            height: 40px;
            background-color: $danger-color;
        }
    }

    &-content {
        opacity: 0;
        transition: transform 2s;
        transform: translate(0, 500px);
    }

    & .project-image-animation {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.capabilities-item-contactus {
    background-color: black;

    &-bar {
        z-index: 20;
        width: 3px;
        height: 50px;
        background-color: $warning-color;
    }

    &-bargroup {
        &-first {
            position: relative;
            width: 3px;
            height: 220px;
            background-color: $warning-color;
        }

        &-second {
            position: relative;
            top: 211px;
            left: -5px;
            width: 25px;
            height: 3px;
            background-color: $warning-color;
            transform: rotate(-45deg);
        }

        &-third {
            position: relative;
            top: 203px;
            left: -10px;
            width: 3px;
            height: 40px;
            background-color: $warning-color;
        }
    }

    & .txt-warning {
        color: $warning-color;
    }
}

.capabilities-item-utility-history {
    background-color: white;

    & .txt-danger {
        color: $danger-color;
    }

    & .txt-gray {
        color: $gray-color2
    }
}
  
.capabilities-item-utility-explore {
    background-color: $warning-color;
    transform: translateY(-50%);
}  

.capabilities-item-utility-team {
    background-color: $warning-color;

    & .role {
        display: "-ms-inline-grid";
        height: 10px;
    }
}

.capabilities-catalog {
    background-color: $gray-200;

    input {
        padding: 10px;
    }

    svg {
        width: 100px;
        height: 46px;
        padding: 0 20px 0 20px;
    }

    &::before {
        content: '';
        background: url('../images/topo-gray.svg') no-repeat 50%;
        background-size: cover;

        position: absolute;
        left: 0;
        width: 100vw;
        height: 25%;
        z-index: 0;
        opacity: .1;
    }
}

.capabilities-offering {
    & .offering-text {
        color: $danger-color
    }

    & .offering-select {
        width: 300px;
    }

    & .offering-title {
        &:hover {
            color: $warning-color;
        }
    }
}